/* SECTION */

.blog_section {
  width: 100%;
}

.blog_content_img {
  background-image: url(/img/banner_principal.png);
  background-size: cover;
  width: 100%;
  height: 325px;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}

.blog_content_info {
  width: 85%;
  margin: 0px auto;
  height: auto;
}

.blog_content_info h1 {
  font-size: 44px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: 1px;
  text-align: left;
  color: #63165f;
}

.blog_content_info p {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: 0.36px;
  text-align: left;
  color: #2c2c2c;
}

/* CARDS */

.all {
  width: 95%;
  margin: 4% auto;
}

.all_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 38.1px;
  grid-row-gap: 40px;
  width: 90%;
  margin: auto;
}

.card {
  width: 100%;
  height: 100%;
  border: solid 1px #e2e2e2;
}

.name {
  width: 100%;
  margin: 8.5% auto 0px;
}

.name h2 {
  font-size: 22px;
  line-height: 1.27;
  text-align: center;
  color: #262626;
  margin: 0px;
}

.all_photos {
  position: relative;
  background: #f7f7f7;
}

.photo {
  width: 100%;
  object-fit: contain;
}

.icons {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  width: 19%;
  height: 75%;
  background-color: #ffffff;
  box-shadow: 0 3px 20px 0 rgba(191, 191, 191, 0.16);
}

.icons figure {
  margin: 0px;
  height: 34%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons img {
  width: 35%;
  height: 98%;
}

.unique {
  border-top: 0.8px solid rgba(196, 123, 91, 0.2);
  border-bottom: 0.8px solid rgba(196, 123, 91, 0.2);
}


.card_detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4.5%;
}

.all_star {
  width: 48%;
  display: flex;
  justify-content: space-between;
}

.all_price {
  width: 41%;
  display: flex;
  justify-content: space-around;
  margin: 4.5% auto 6%;
}

.skd {
  color: #545454;
  font-size: 14px;
  font-weight: 500;
}

.price1 {
  color: #fc3e39;
  font-size: 22px;
  text-align: center;
  font-weight: 500;
  line-height: 1.27;
}

.price2 {
  color: #545454;
  font-size: 22px;
  text-align: center;
  font-weight: 500;
  line-height: 1.27;
  text-decoration: line-through;
}

.card_detail button {
  background-color: #63165f;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  border-radius: 50px;
  width: 58%;
  height: 41px;
  border: 0px;
  margin-bottom: 9.5%;
}

.card_detail button:focus {
  outline: none;
}

/* RESPONSIVE WEB DESIGN */

@media screen and (max-width:1200px) {
  .blog_content_img {
    height: 257px;
  }

  .blog_content_info h1 {
    font-size: 42px;
  }

  .blog_content_info p {
    font-size: 14px;
  }

  .name h2 {
    font-size: 19px;
  }

  .all_price {
    width: 46%;
  }
}

@media screen and (max-width:1080px) {
  .blog_content_img {
    height: 231px;
  }

  .blog_content_info h1 {
    font-size: 40px;
  }
  
  .blog_content_info p {
    font-size: 13px;
  }

  .name h2 {
    font-size: 17px;
  }
  
  .skd {
    font-size: 13px;
  }
  
  .all_star{
    width: 51%;
  }

  .all_price span {
    font-size: 20px;
  }
  
  .card_detail button {
    font-size: 12px;
    height: 36px;
  }
}

@media screen and (max-width:960px) {
  .blog_content_img {
    height: 206px;
  }
  
  .blog_content_info h1 {
    font-size: 38px;
  }
  
  .blog_content_info p {
    font-size: 12px;
  }

  .name h2 {
    font-size: 15px;
  }
  
  .all_star{
    width: 57%;
  }
  
  .all_price span {
    font-size: 17px;
  }
  
  .card_detail button {
    height: 34px;
  }
}

@media screen and (max-width:760px) {
  .blog_content_img {
    height: 163px;
  }

  .blog_content_info h1 {
    font-size: 30px;
  }
  
  .blog_content_info p {
    font-size: 11px;
  }

  .name h2 {
    font-size: 12px;
  }
  
  .star {
    width: 10%;
  }
  
  .skd {
    font-size: 10px;
  }
  
  .all_price {
    width: 42%;
  }
  
  .all_price span {
    font-size: 12px;
  }
  
  .card_detail button {
    height: 29px;
    font-size: 10px;
  }
}

/* RESPONSIVE MOBIL */

@media screen and (max-width:540px) {
  .all {
    margin: 8% auto 0%;
  }

  .blog_section {
    display: none;
  }

  .all_cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5%;
    grid-row-gap: 0.7%;
  }

  .out {
    display: none;
  }

  .name h2 {
    font-size: 13px;
  }

  .all_star {
    width: 55%;
  }

  .star {
    width: 10%;
  }

  .skd {
    font-size: 10px;
    padding-left: 4%;
  }

  .all_price {
    width: 39%;
  }

  .all_price span {
    font-size: 13px;
  }
  
  .card_detail button {
    height: 30px;
    font-size: 11px;
  }
  
}

@media screen and (max-width: 480px){ 
  .name h2 {
    font-size: 11px;
  }
  
  .all_price span {
    font-size: 11px;
  }

  .card_detail button {
    height: 27px;
    font-size: 10px;
  }
}

@media screen and (max-width: 360px) {
  .name h2 {
    font-size: 9px;
    line-height: 1.22;
  }
  
  .icons figure {
    height: 36.6px;
  }

  .star {
    width: 10%;
  }

  .skd {
    font-size: 8px;
  }
  
  .all_price span {
    font-size: 9px;
  }
  
  .card_detail button {
    font-size: 7px;
    height: 20px;
  }
  
}
