* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: #63165f;
  color: white;
}

.container_header {
  width: 85%;
  height: 43px;
  margin: auto;
  align-items: center;
}

.contenedor {
  width: 100%;
  background: white;
}

.container_header p {
  margin: 0;
}

.content_up {
  width: 21%;
  margin-right: 20px;
}

.content_up p {
  font-size: 10px;
  font-weight: 500;
  margin-left: 9px;
}

.cart {
  border-right: 1px solid #ffffff;
  height: 30px;
  align-items: center;
}

.inputsearch {
  width: 60%;
}

.fa-heart,
.fa-user {
  margin-right: 44px;
}

.button {
  width: 54px;
}

.button:hover {
  background: #63165f;
}

.container_logo {
  width: 85%;
  margin: auto;
  background: white;
  height: 96px;
}

.container_logo input {
  width: 80%;
  height: 41px;
  border-radius: 50px 0px 0px 50px;
  border: none;
  border: 1px solid #ececec;
  color: #c1c1c1;
  font-size: 10px;
}
.container_logo input:focus {
  border-radius: 50px 0px 0px 50px;
}

.container_logo button {
  background-color: #63165f;
  border-radius: 0px 50px 50px 0px;
}

::placeholder {
  color: #c1c1c1;
}

:-ms-input-placeholder {
  color: #c1c1c1;
}

::-ms-input-placeholder {
  color: #c1c1c1;
}

.container_icon {
  display: flex;
  width: 20%;
  justify-content: start;
  flex-wrap: wrap;
  align-items: center;
}

nav {
  background: white;
}

.container_nav {
  height: 55px;
  display: flex;
  flex-direction: row;
  width: 79%;
  margin: auto;
  background: white;
  margin: 0px auto 2px auto;
}

.containermenu {
  width: 334px;
  background-color: #63165f;
  display: flex;
  flex-direction: row;
  text-align: start;
  align-items: center;
  padding-left: 30px;
  border-radius: 5px 5px 0px 0px;
  font-size: 12px;
  margin-right: 100px;
  position: relative;
}

.menu_container {
  width: 45%;
  display: inline-grid;
}

.menu_container ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

.menu_container ul li a {
  font-size: 14px;
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}

.container_category {
  width: 100%;
  display: none;
  position: absolute;
  top: 55px;
  left: 0px;
  background: #ffffff;
  color: #333333;
  font-size: 14px;
  padding: 0px 23px 0px 27px;
  border-radius: 0px 0px 5px 5px;
  z-index: 1;
}

.container_category ul {
  list-style: none;
}

.container_category ul li {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #c1c1c1;
}

.container_category ul li:last-of-type {
  border: none;
  padding-bottom: 0px;
}

.container_category ul li a {
  font-size: 14px;
  font-weight: 500;
  color: #333333;
}

.containermenu {
}

.containermenu label {
  margin: 0 !important;
}

.container_category ul li a:hover {
  text-decoration: none;
}

#check:checked ~ .container_category {
  display: block;
  transition: all 1s;
}

#check {
  display: none;
}

.checkbtn {
  font-size: 20px;
  cursor: pointer;
}

.checkbtnMenu {
  cursor: pointer;
  font-size: 14px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #63165f;
  border-radius: 50px;
  width: 36px;
  height: 36px;
  position: relative;
}

.circle > label > img {
  cursor: pointer;
}

.number {
  position: absolute;
  top: -10px;
  right: -5px;
  font-size: 9px;
  background: #63165f;
  padding: 2px 6px;
  border-radius: 50%;
  border: 1.5px solid white;
}

#checkCart:checked ~ .container_cart {
  display: block;
  transition: all 1s;
}

#checkCart:checked ~ .arrow {
  display: block;
  transition: all 1s;
}
#checkCart {
  display: none;
}

.container_cart {
  display: none;
  position: absolute;
  width: 286px;
  height: 377px;
  background: white;
  top: 61px;
  grid-template-rows: 3fr 1fr;
  padding: 27px 18px 12px 11px;
  font-size: 14px;
  z-index: 9999;
}

.arrow {
  display: none;
  position: absolute;
  width: 30px;
  height: 26px;
  border: solid 1px #c1c1c1;
  background-color: #ffffff;
  transform: rotate(45deg) skew(15deg, 15deg);
  top: 52px;
  right: 0%;
  z-index: 9999;
}

.container_cart p {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #262626;
}

.container_cart p:last-of-type {
  font-weight: bold;
}

.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 92px;
  color: #262626;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.container2 p {
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  margin-bottom: 0px;
}

.container_counter {
  width: 100%;
}

.container_counter .input_counter {
  border: none;
  width: 10px;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #333333;
  margin: 0px 3px 0px 3px;
}

.text_red {
  color: #f1304b !important;
  font-size: 12px;
  display: inline;
}

.container_counter .button_counter {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background-color: #f7f7f7;
  border: none;
}

.content_gray {
  margin: auto;
  width: 73px;
  height: 73px;
  border-radius: 10px;
  background-color: #ebebeb;
  position: relative;
}

.content_gray .image2 {
  position: absolute;
  top: -20px;
  left: -10px;
}

.content_gray img {
  top: 0px;
}

.grid_container {
  border-bottom: 1px solid #c1c1c1;
}

.content_button a {
  border-radius: 5px;
  background-color: #63165f;
  display: block;
  width: 202px;
  padding: 15px 37px;
  font-size: 14px;
  color: white;
  line-height: 1.14;
  letter-spacing: -0.06px;
  text-align: center;
  color: #ffffff;
  margin: 22px auto 0px auto;
}

.content_button a:hover {
  text-decoration: none !important;
}

#checkMenu:checked ~ .sub_menu {
  display: block;
  transition: all 1s;
}

#checkMenu {
  display: none;
}

.sub_menu {
  position: absolute;
  display: none;
  border: none !important;
  border-radius: 8px;
  width: 297px;
  padding: 10px 31px 10px 23px;
  margin-left: 0px;
  right: -95%;
  top: 65%;
  background: white;
}

.sub_menu ul li {
  padding: 14px 0px 0px 0px !important;
}

.sub_menu ul li:last-of-type {
  border: none;
}

.sub_menu ul li a {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #333333;
  margin: 0px 0px 15px 0px;
}

#checkMenu:checked ~ .triangulo {
  display: block;
  transition: all 1s;
}

.triangulo {
  background: white;
  display: none;
  position: absolute;
  width: 30px;
  height: 26px;
  border-radius: 5px;
  transform: rotate(-45deg) skew(15deg, 15deg);
  top: 66%;
  left: 103%;
}

.content_logo img {
  display: block;
  margin-left: 30px;
}

/* INICIO */
.init {
  display: flex;
  justify-content: flex-end;
  background: #63165f;
  width: 100%;
  height: 595px;
}

.grilla_init {
  display: grid;
  width: 60%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 80px 1fr;
  margin-top: 65px;
  margin-right: 58px;
}

.font_30 {
  font-size: 30px;
  color: white;
  font-weight: 300;
  font-stretch: condensed;
  margin-bottom: 0px;
}

.font_45 {
  font-size: 45px;
  color: white;
}

.content_init2 {
  width: 100%;
  font-size: 22px;
  grid-column: 1/2;
  grid-row: 2/2;
  color: white;
  display: flex;
  justify-content: start;
}

.content_init2 p {
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: 0.44px;
  color: #ffffff;
}

.price {
  border-right: 1px solid #797777;
}

.price p {
  margin-bottom: 0;
}

.price2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.price2 p {
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.26px;
  color: #ffffff;
  margin-bottom: 9px;
  text-align: start;
}

.price2 p:last-of-type {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 9px;
  float: left;
}

.container_star {
  font-size: 9px;
}

/* SECTION NEW PRODUCTS */
.section2 {
  width: 82%;
  margin: 62px auto 62px auto;
}

.container_ul_section1 {
  width: 100%;
  padding: 0px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 10px;
}

.container_ul_section1 ul li a {
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.28;
  letter-spacing: normal;
  color: #222222;
  line-height: 45px;
  padding-bottom: 20px;
}

.dropdown-divider {
  margin: 0px;
}
.container_ul_section1 ul li {
  line-height: 45px;
}

.container_ul_section1 ul li a:hover {
  text-decoration: none;
  border-bottom: 3px solid #63165f;
}

.content_list {
  width: 33.3%;
}
.contenido_button {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.container_ul_section1 ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0px;
}

.contenido_button button {
  width: 37px;
  height: 37px;
  border-radius: 2px;
  border: solid 1px #e5e5e5;
  background-color: rgba(64, 141, 228, 0);
  color: #777777;
  margin-right: 9px;
}

.contenido_button button:last-of-type {
  margin-right: 0px;
}

.grid_products {
  display: grid;
  width: 95%;
  margin: 55px auto auto auto;
  grid-template-columns: repeat(3, 275px);
  grid-template-rows: 428px;
  justify-content: space-between;
}

.grid_products > div {
  border-radius: 20px;
  background-color: #f1304b;
}

.card_header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 28px;
}

.discount {
  width: 79px;
  height: 31px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.discount span {
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #f1304b;
}

.content_info {
  width: 70%;
}

.content_heart {
  width: 20%;
}

.content_info p {
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding: 17px 0px 10px 19px;
  margin-bottom: 0px;
}

.content_stars {
  margin-left: 19px;
}

.content_stars svg {
  font-size: 12px;
}

.content_stars span {
  font-size: 11px;
  color: white;
}

.content_price p {
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.89;
  letter-spacing: normal;
  color: #ffffff;
  display: inline-block;
  margin-right: 10px;
}
.content_price span {
  font-size: 9px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.89;
  letter-spacing: normal;
  color: #c1c1c1;
  text-decoration: line-through;
}

.content_image {
  position: relative;
  height: 178px;
}

.content_image2 {
  position: relative;
  height: 220px;
}

.content_image img {
  position: absolute;
  top: -109px;
  left: 70px;
}

.content_image2 img {
  position: absolute;
  top: -5px;
  left: 30px;
}

.content_shop {
  width: 56px;
  height: 53px;
  border-radius: 10px;
  box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 15px 18px;
}

.card_header2 {
  margin-top: 30px;
}

.img_big {
  grid-column: 2/2;
  grid-row: 1/4;
}

.bg_black {
  background-color: #010101 !important;
}
.bg_orange {
  background-color: #ee4824 !important;
}

/* SECTION 3 */
.section3 {
  width: 80%;
  margin: 139px auto 62px auto;
}

.content_nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content_title {
  width: 30%;
}

.content_title h2 {
  margin-bottom: 0px;
}

.content_navegation {
  width: 38%;
}

.content_navegation ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  margin-bottom: 0px;
}

.content_navegation ul li a {
  border-radius: 15px;
  padding: 6px 15.2px;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.35px;
  color: #545454;
}

.content_navegation ul li:first-child a {
  border: solid 1px #63165f;
}

.content_navegation ul li a:hover {
  border: solid 1px #63165f;
  text-decoration: none;
}

.grid_section3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 390px);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-top: 50px;
}

.box1 {
  grid-column: 1/1;
  grid-row: 1/3;
  border: solid 1px #e5e5e5;
  background-color: #63165f;
  border-radius: 15px;
}

.content_imagen {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.content_text_box1 {
  margin-top: 41px;
  text-align: center;
}

.content_text_box1 p,
.content_text_box1 span {
  font-size: 16px !important;
  font-weight: 500 !important;
  font-stretch: normal !important;
  font-style: normal !important;
  letter-spacing: normal !important;
  text-align: center !;
  color: #ffffff !important;
  margin-bottom: 0px !important;
}

.content_text_box1 span {
  font-size: 13px;
  color: #f5f5f5;
}

.content_stars_box1 {
  margin-top: 30px;
  text-align: center;
}

.content_stars_box1 svg {
  font-size: 18px;
}

.content_stars_box1 span {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.box1 p {
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-top: 15px;
}

.card_home img {
  display: block;
  margin: 0px auto 19px auto;
  object-fit: contain;
  height: 259px;
}

.card_home_text {
  width: 90%;
  margin: 0px auto 20px auto;
  padding-top: 15px;
  border-top: 1px solid #e5e5e5;
}

.card_home_text p {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #262626;
}

.content_star_home {
  margin-top: 7px;
  text-align: center;
}

.content_star_home span {
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #545454;
}

.content_price_home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content_price_home p {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #fc3e39;
  margin-right: 10px;
  margin-bottom: 0px;
}

.content_price_home span {
  color: #545454;
  text-decoration: line-through;
}

/* SECTION 4 */
.section4 {
  width: 80%;
  margin: auto;
  margin-top: 170px;
}

.grid_section4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 90px;
}

.content_info_section4 {
  padding: 23px 0px 30px 0px;
}

.content_info_section4 h3 {
  font-size: 44px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: 1px;
  text-align: left;
  color: #333333;
}

.content_info_section4 p {
  opacity: 0.83;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.62;
  letter-spacing: 0.41px;
  text-align: left;
  color: #333333;
  margin-bottom: 0px;
}

.content_price_section4 span {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #c1c1c1;
  display: inline-block;
  margin-right: 5px;
  vertical-align: super;
}

.content_price_section4 p {
  font-size: 36px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #f1304b;
  display: inline-block;
}

.stars_section4 {
  margin-top: 11px;
  display: flex;
  align-items: center;
}

.stars_section4 span {
  font-size: 11px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #545454;
  vertical-align: middle;
}

.stars_section4 svg {
  margin-right: 5px;
}

.button_section4 {
  margin-top: 54px;
}

.button_section4 button:first-child {
  width: 140px;
  height: 50px;
  border-radius: 3px;
  border: solid 1px #63165f;
  background: white;
  color: #2e3871;
  font-size: 14px;
  margin-right: 10px;
}
.button_section4 button:last-child {
  width: 140px;
  height: 50px;
  border-radius: 5px;
  background-color: #63165f;
  color: #ffffff;
  font-size: 14px;
  border: none;
}

.content_image_section4 {
  margin: 30px 0px 30px 37px;
  border-radius: 8px;
  border: solid 1px rgba(112, 112, 112, 0.54);
  position: relative;
}

.content_image_section4 .image_laptop {
  position: absolute;
  transform: translateX(-13%) translateY(-27%);
}

.point {
  width: 100%;
  display: flex;
}

.content_image_section4::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #2e3871;
  position: absolute;
  bottom: 30px;
  right: 50%;
  border-radius: 50%;
}
.content_image_section4::after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #2e3871;
  position: absolute;
  bottom: 30px;
  right: 45%;
  border-radius: 50%;
}

.grilla_5 {
  display: grid;
  grid-template-columns: repeat(3, 356px);
  grid-template-rows: 248px;
  grid-column-gap: 44px;
  margin-bottom: 73px;
}

.card_section5 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 8px;
  border: solid 1px #f7f7f7;
  background-color: #f7f7f7;
}

.bg_color_red {
  background-color: #f1304b !important;
}

.info_card_section5 {
  width: 40%;
  margin: 25px 0px 43px 33px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info_card_section5 h3 {
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 21px;
}

.info_card_section5 p {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #000000;
}

.info_card_section5 button {
  width: 130px;
  height: 40px;
  border-radius: 19.5px;
  border: solid 1px #000000;
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
  font-size: 12px;
}

.img_card_section5 {
  width: 50%;
  margin: auto;
}

.img_card_section5 img {
  display: block;
  margin: auto;
}

.context_text {
  display: flex;
  margin-right: 29px;
}

.context_text p {
  width: 60%;
  color: #ffffff !important;
}

.context_text button {
  border-radius: 19.5px;
  border: solid 1px #ffffff;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.image_card_2 img {
  display: block;
  margin-left: 71px;
}

.content_imagen_3 {
  width: 80%;
  margin: auto;
  position: relative;
}

.content_imagen_3 img {
  display: block;
  margin-top: -95px;
}

.content_imagen_3 h3 {
  position: absolute;
  bottom: 0px;
}

.container_text {
  display: flex;
  flex-direction: row;
}

.container_text p {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #8a8a8a;
  margin-left: 31px;
  margin-top: 5px;
  width: 38%;
}

.container_text button {
  width: 150px;
  height: 40px;
  border-radius: 19.5px;
  border: solid 1px #c3c3c3;
  background-color: rgba(0, 0, 0, 0);
  color: #252525;
  font-size: 12px;
  margin-top: 8px;
}

/* SECTION 6 */
.section6 {
  width: 80%;
  margin: auto;
}

.section6 h2 {
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #222222;
  margin-bottom: 10px;
}

.grid_section6 {
  display: grid;
  width: 93%;
  grid-template-columns: repeat(3, 296px);
  grid-template-rows: repeat(2, 233px);
  justify-content: space-between;
  grid-row-gap: 60px;
  margin-bottom: 57px;
  margin: auto;
}

.card_section6 {
  border-radius: 20px;
  border: solid 1px #e2e2e2;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contenedor_img {
  width: 30%;
  display: flex;
  align-items: center;
}

.contenedor_img img {
  display: block;
  margin-left: -107px;
}

.container_info_6 {
  width: 60%;
  margin: 13px 14px 13px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
}

.discount_section6 {
  width: 65px;
  height: 26px;
  border-radius: 4px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.16);
  background-color: #f1e330;
  font-size: 10px;
  color: white;
  text-align: center;
  margin-bottom: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_text_6 p {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: right;
  color: #444444;
}

.calification {
  margin-bottom: 12px;
}

.calification svg {
  font-size: 13px;
}

.calification span {
  font-size: 8px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #545454;
  vertical-align: middle;
}

.price_section6 p,
.price_section6 span {
  margin-bottom: 0px;
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #f1304b;
  margin-bottom: 17px;
}

.price_section6 span {
  color: #a7a7a7;
  margin-right: 0px;
}

.button_purple {
  width: 108px;
  height: 36px;
  border-radius: 3px;
  background-color: #63165f;
  color: white;
  font-size: 10px;
  border: none;
}

.button_heart {
  width: 36px;
  height: 36px;
  border-radius: 3px;
  border: solid 1px #63165f;
  background: white;
  text-align: center;
}

.button_heart svg {
  margin-right: 0px;
}

.border_image {
  border-radius: 10px;
  padding: 10px;
  background: #f0f0f0;
  margin-bottom: 61px;
}

.border_image img {
  display: block;
  width: 100%;
}

/* FOOTER */

.title {
  font-size: 17px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.94;
  letter-spacing: normal;
  text-align: left;
  color: #1c1e1e;
}

.banner-detail {
  height: 236px;
  background-color: #f2f2f2;
}

.banner-detail .info h3 {
  font-size: 44px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: 1px;
  text-align: left;
  color: #63165f;
}

.banner-detail .info a {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: 0.36px;
  text-align: left;
  color: #2c2c2c;
}

.info {
  position: relative;
  bottom: -124px;
  padding-left: 84px;
}

/*PRICE CARD*/
.price .price-red {
  color: #fc3e39;
}
.card-titles {
  font-size: 12px;
  font-weight: 500;
}

/*customer*/
.customer-reviews p {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #848687;
}
.form-add {
  display: block;
  width: 100%;
  height: 49px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #f4f7f9;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-add-text {
  display: block;
  width: 100%;
  height: 110px !important;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #f4f7f9;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.title-product {
  font-size: 29px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.55;
  letter-spacing: normal;
  text-align: left;
  color: #252525;
}
.estrellas-product {
  border-bottom: 1px solid #f2f2f2;
}
.section-email {
  background-color: #63165f;
}
.section-email h3 {
  font-size: 33px;
  font-weight: 500;
  color: #ffffff;
}
.section-email p {
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
}
.form-button {
  display: block;
  width: 88%;
  height: 55px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #ced4da;
  border-radius: 2.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-suscribe {
  position: absolute !important;
  padding: 15px;
  border-radius: 27px;
  right: 65px;
  width: 142px;
  background-color: #63165f;
  border: 1px solid transparent;
  color: #ffffff;
}

.footer {
  background-color: #f5f5f5;
}

.footer h3 {
  margin-bottom: 25px;
}
.footer ul {
  list-style: none;
  padding: 0px;
}
.footer ul li {
  margin-bottom: 10px;
}
.footer ul li a {
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: left;
  color: #7b7d7f;
}
.redes-sociales {
  padding: 0px;
  display: flex;
  text-align: center;
  padding-left: 52px !important;
  margin-top: 32px;
}
.redes-sociales li {
  margin-right: 10px;
  width: 25px;
  height: 25px;
  border-radius: 3px;
  border: solid 0.5px #63165f;
}
.redes-sociales li svg {
  color: #63165f;
}
.redes-sociales li:hover {
  background-color: #63165f;
}
.redes-sociales li:hover svg {
  color: #ffffff;
}
.text-reserved p {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: left;
  color: #7b7d7f;
}

/* SIDER */
.fondo {
  width: 275px;
  height: 428px;
  background-color: #a31919;
}
